<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feed</title>
    <link rel="stylesheet" href="../css/feed.css" />
  </head>
  <body>
    <div id="columns">
      <% posts.forEach((index)=>{ %>
      <figure>
        <img src="/img/uploads/<%= index.image %>" />
        <figcaption><%= index.imageText %></figcaption>
      </figure>
      <% }) %>

      <small>Art &copy; <a href="//clairehummel.com">All Posts</a></small>
    </div>
  </body>
</html>
